#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}


/*#region Header*/

.logo {
    width: 200px
}

.bg-dark {
    background-color: $primary!important;
}

.router-link-active {
    font-weight: bold;
    color: $white!important;
    border-bottom: 2px solid $secondary;
}

.navbar-brand {
    border-bottom: 0!important;
}

.btn-outline-light:hover {
    color: $primary;
    background-color: $secondary;
}


/*#endregion Header*/


/*#region Login*/

.gradient-custom-2 {
    /* fallback for old browsers */
    // background: #fccb90;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, $secondary, $primary);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, $secondary, $primary);
}

section {
    .card {
        border: 0;
    }
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

@media (max-width: 767px) {
    .mb-4,
    .pb-4,
    .py-5 {
        margin-bottom: 0!important;
        padding-bottom: 0!important;
    }
    .mb-5 {
        margin-bottom: 0!important;
    }
    .form {
        padding: 0px 0 10px 0!important;
        button {
            padding: 5px 15px!important;
        }
    }
    .publish-sm {
        display: block!important;
    }
    .publish {
        display: none!important;
    }
    .like-actions-sm {
        margin-right: 20px;
    }
    .edit-actions,
    .like-actions {
        display: flex!important;
        & a {
            text-decoration: none;
        }
    }
    .like,
    .dislike {
        display: flex;
    }
}


/*#endregion Login*/


/*#region Master*/

div.masthead {
    position: relative;
    overflow: hidden;
    padding-bottom: 7rem;
    background: linear-gradient(0deg, $secondary 0%, $primary 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    min-height: 900px;
}

div.masthead .masthead-content {
    z-index: 1;
    position: relative;
}

div.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
}

div.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
}

div.masthead .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, $primary 0%, $secondary 100%);
}

div.masthead .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -30rem;
}

div.masthead .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: 0rem;
    right: -25rem;
}

div.masthead .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
}

div.masthead .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: 1rem;
    right: 35%;
}

@media (min-width: 992px) {
    // div.masthead {
    //     padding-top: calc(10rem + 55px);
    //     padding-bottom: 10rem;
    // }
    div.masthead .masthead-content .masthead-heading {
        font-size: 80px;
    }
    div.masthead .masthead-content .masthead-subheading {
        font-size: 60px;
    }
}


/*#endregion Master*/

h1 {
    // color: $white;
    font-size: 60px;
}

.form {
    position: relative;
    z-index: 1;
    // background: $secondary;
    text-align: center;
    // box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding: 30px 0;
    button {
        font-family: "Roboto", sans-serif;
        // text-transform: uppercase;
        outline: 0;
        background: $third;
        border: 0;
        color: $white;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        & i {
            margin-right: 10px;
        }
    }
    button:hover,
    button:active,
    button:focus {
        background: $third;
        opacity: 0.8;
    }
}

.welcome {
    margin-top: calc(7rem + 72px);
}

.text-left {
    text-align: left!important;
}

.publish-sm {
    display: none;
}

.publish {
    display: block;
}


/*#region mobile*/

@media (max-width: 768px) {
    /*#region Header*/
    .navbar-collapse {
        text-align: right;
    }
    /*#endregion Header*/
    h1 {
        font-size: 30px;
    }
}


/*#endregion mobile*/

// Region Post
.posted-by {
    margin-bottom: 0!important;
}

.posts {
    max-height: 670px;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 20px;
}

.like {
    color: $success;
}

.dislike {
    color: $error;
}